@import "/src/styles/animations/animations.scss";

.projects-slide {
    $width: 100%;
    $height: fit-content;
    $padding: 2.4rem;
    $border-radius:2.4rem;
    $box-shadow: 0 0 5px 1px black;
    $animation-time: 0.6s;


    position: relative;
    display: flex;
    padding: $padding;
    gap: 0.8rem;
    width: $width;
    height: $height;
    color: var(--font-color-tertiary);
    overflow: clip;

    &::before{
        content: "";
        position: absolute;
        background-color: #020a1c;
        width: calc(100% - $padding * 2);
        height: 80%;
        bottom: $padding;
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        z-index: -1;
    }

    .items {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4.8rem;
        width: 100%;
        height: calc(100% - ($padding));
        padding-bottom: 36px;
        animation: textAnimation $animation-time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation-timeline: view();
        animation-range: 20% 50%;
        
        article{
            display: none;
            flex-direction: column;
            width: calc($width - ($padding * 2));
            height: calc(100% - ($padding));
            align-items: center;
            gap: 12px;

            figure{
                width: 100%;
                height: 40%;
                min-height: 200px;
                background-color: white;
                border-radius: $border-radius;
                box-shadow: $box-shadow;
            }

            section{
                width: 100%;
                height: 60%;
                
                position: relative;
                text-align: left;
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                padding-bottom: 72px;

                h3{
                    font-weight: 700;
                    font-size: 2.4rem;
                }

                p{
                    font-weight: 400;
                    font-size: 1.8rem;
                }
                
                ul{
                    position: absolute;
                    display: flex;
                    gap: .8rem;
                    bottom: $padding;
                    right: .6rem;

                    li{ 
                        cursor: pointer;
                        padding: 0.4rem 0.8rem;
                        font-size: 1.6rem;
                        font-weight: 400;
                        border: 1px solid var(--font-color-tertiary);
                        border-radius: 5px;
                        
                        a{
                            display: flex;
                            gap: 0.4rem;
                            align-items: center;
                            color: var(--font-color-tertiary);
                        }
                    }
                }
            }
        }

        .index-carousel {
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;
            height: 40px;
            width: 100%;
            right: 0;
            bottom: 0;
            background: transparent;
            
            li{
                label{
                    input[name="index"]{
                        appearance: none;
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        border: 1px solid var(--font-color-tertiary);
                        border-radius: 50%;
        
                        &:checked{
                            width: 22px;
                            border-radius: 40%;
                            background-color: var(--font-color-tertiary);
                        }
                    }
                }
            }
    
            @media screen and (min-width: 768px) {
                flex-direction: column;
                height: 100%;
                width: 40px;
                
                li{          
                    label{
                        input[name="index"]:checked{
                            height: 22px;
                            width: 15px;
                        }
                    }
                }    
            }
        }
    }

    @media screen and (min-width: 768px){

        &::before{
            width: 85%;
            min-height: 37.6rem;
            height: calc(100% - ($padding * 2));
            right: $padding;
            top: $padding;    
        }

        .items{
            flex-direction: column;
            justify-content: unset;
            height: calc($height - ($padding));
            padding-top: 2.4rem;

            article{
                min-height: 37.6rem;
                height: fit-content;
                gap: 32px;
                flex-direction: row;
                
                figure{
                    width: 40%;
                    height: 280px;
    
                }

                section{
                    width: 60%;
                    height: 100%;
                    padding-top: 4.2rem;

                    ul{
                        gap: 2.4rem;
                        right: 1.6rem;
                        bottom: 0;
                    }
                }
            }

            
        }

    }
    

    @for $i from 1 through 5 {
        .index-carousel:has(label input[value="#{$i}"]:checked) ~ article[name="item-#{$i}"]{
            display: flex;

            figure{
                animation: scaleFigure $animation-time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

            section{
                animation: textAnimation $animation-time cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }
}  