header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 0 8%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 6rem;
    width: 100%;
    background-color:var(--color-tertiary);
    color: var(--font-color-normal);
    z-index: 10;
    transition: all 350ms ease;

    ul{
        display: flex;
        gap: 8px;
        li{
            position: relative;
            
            a{
                text-decoration: none;
                font-size: 1.8rem;
                font-weight: 700;
                color: var(--font-color-normal);
            }
        }
    }
}