@import"/src/styles/animations/animations.scss";

.Introducion{
    display: flex;
    flex-flow: row wrap-reverse;
    transition: all 350ms ease 0s;
    gap: 5%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 6rem);
    padding: 0rem 8%;
    background-color: var(--color-secondary);
    border-radius: 0rem 0rem 10rem 10rem;

    .SectionTexts{
        display: flex;
        flex-direction: column;
        transition: all 350ms ease 0s;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 50%;
    
        h1{
            user-select: none;
            font-weight: 700;
            line-height: 95%;
            color: var(--font-color-tertiary);
            font-size: 7.2rem;
        }
    
        p{
            font-size: 3.6rem;
            font-weight: 700;
            text-align: justify;
            color: #FFFFFF;
            user-select: none;

            b{
                color:#100C29;
                user-select: none;
            }
        }
    }
}

#Services,
#Tools, 
#Projects, 
#Contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--font-color-primary);
    gap: 4.8rem;
    padding: 10rem 8% 3rem 8%;
    animation: moveToDown ease-out;
    animation-timeline: view();
    animation-range: cover 0% cover 60%;
    
    .SectionTexts{
        user-select: none;
        
        .title{
            font-weight: bold;
            font-size: 2.4rem;
            color: var(--font-color-secondary);
        }

        .subtitle{
            font-weight: 700;
            font-size: 3.2rem;
            color: var(--font-color-primary);
        }
        
        .description{
            color: var(--font-color-secondary);
            font-size: 1.8rem;
            font-weight: normal;
            text-align: justify;
        }
    }

}
#Projects{
    padding-bottom: 10rem;
}
#Contact{
    display: none;
    transition: all 350ms ease 0s;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - 11rem);
    padding: 3rem 8%;
    background-color: var(--color-primary);
    border-radius: 20rem 0rem 0rem 0rem;
    
    .SectionText{
        width: 100%;
        .title{
            color: #FFFFFF;
        }
    }
}