.SectionMain{
    display: flex;
    flex-flow: row wrap-reverse;
    transition: all 350ms ease 0s;
    gap: 5%;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 6rem);
    padding: 0rem 8%;
    background-color: var(--color-primary);
    border-radius: 0rem 0rem 0rem 20rem;

    .SectionText{
        display: flex;
        flex-direction: column;
        transition: all 350ms ease 0s;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 50%;
    
        h1{
            user-select: none;
            font-weight: 700;
            line-height: 95%;
            color: #100C29;
            font-size: 9.6rem;
        }
    
        p{
            font-size: 1.8rem;
            text-align: justify;
            color: #FFFFFF;
            user-select: none;

            b{
                color:#100C29;
                user-select: none;
            }
        }
    }
}

.SectionKnowledge, 
.SectionProjects, 
.SectionContact{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--font-color-primary);
    gap: 4.8rem;
    padding: 10rem 8% 3rem 8%;
    
    .SectionText{
        .title{
            font-weight: bold;
            font-size: 3.2rem;
            user-select: none;
        }
        
        .description{
            color: var(--font-color-secondary);
            font-size: 18px;
            font-weight: normal;
            text-align: justify;
            user-select: none;
        }
    }

}
.SectionProjects{
    padding-bottom: 10rem;
}
.SectionContact{
    transition: all 350ms ease 0s;
    flex-direction: row;
    flex-wrap: wrap;
    height: calc(100vh - 11rem);
    padding: 3rem 8%;
    background-color: var(--color-primary);
    border-radius: 20rem 0rem 0rem 0rem;
    
    .SectionText{
        width: 100%;
        .title{
            color: #FFFFFF;
        }
    }
}