@import"/src/styles/animations/animations.scss";

.Introducion{
    display: flex;
    flex-flow: row wrap-reverse;
    transition: all 350ms ease 0s;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 6rem);
    padding: 3.6rem 8%;
    background-color: var(--color-secondary);
    border-radius: 0rem 0rem 7rem 7rem;

    .SectionTexts{
        display: flex;
        flex-direction: column;
        transition: all 350ms ease 0s;
        gap: 1.6rem;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding-top: 1.6rem;
    
        h1{
            user-select: none;
            font-weight: 700;
            line-height: 1.1;
            color: var(--font-color-tertiary);
            font-size: 5.2rem;
        }
    
        p{
            font-size: 3.2rem;
            font-weight: 700;
            text-align: left;
            color: #FFFFFF;
            user-select: none;
            line-height: 1.4;

        }
    }

    @media screen and (min-width: 768px) {
        gap: 5%;
        border-radius: 0rem 0rem 10rem 10rem;

        .SectionTexts {
            width: 50%;
            gap: 1rem;

            h1{
                font-size: 7.2rem;
                line-height: 95%;
            }

            p{
                font-size: 3.6rem;
                line-height: unset;
            }
        }
    }

    @media screen and (min-width: 1460px){
        .SectionTexts{
            h1{
                font-size: 6.4rem;
            }

            p{
                line-height: 1.1;
            }
        }
    }
}

#Services,
#Projects, 
#Tools, 
#Contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--font-color-primary);
    gap: 4.8rem;
    padding: 50px 8% 25px 8%;
    
    
    .SectionTexts{
        user-select: none;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        
        .title{
            font-weight: bold;
            font-size: 2.4rem;
            color: var(--font-color-secondary);
            line-height: 0.5;
        }

        .subtitle{
            font-weight: 700;
            font-size: 3.2rem;
            color: var(--font-color-primary);
            line-height: 1.2;
        }
        
        .description{
            color: var(--font-color-secondary);
            font-size: 1.8rem;
            font-weight: normal;
            text-align: left;
        }
    }

    @media screen and (min-width: 768px){
        padding: 10rem 8% 3rem 8%;       
    }

    @media screen and (min-width: 1460px){
        .SectionTexts{
            .subtitle{
                font-size: 3.6rem;
                line-height: 0.9;
            }
            .description{
                font-size: 2.2rem;
            }
        }
    }
}


#Contact{
    gap: 2.4rem;
    padding-bottom: 50px;

    @media screen and (min-width: 768px){
        padding-bottom: 13rem;
    }
}