@use "sass:map";
@import "./themes/dark.scss";
@import "./themes/light.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: '__Poppins_ffa0aa', '__Poppins_Fallback_ffa0aa';
}

html{
    font-size: 50%;
    scroll-behavior: smooth;
}

body {
    --color-primary: #{map-get($lightThemeColors , "primary" )};
    --color-secondary: #{map-get($lightThemeColors ,"secondary")};
    --color-tertiary:#{map-get($lightThemeColors ,"tertiary")};
    --font-color-primary: #{map-get($lightThemeColors, "font-primary")};
    --font-color-secondary: #{map-get($lightThemeColors, "font-secondary")};
    --font-color-tertiary: #{map-get($lightThemeColors, "font-tertiary")};
    --font-color-normal: #{map-get($lightThemeColors, "font-normal")};
    --shaddow-color-primary: #{map-get($lightThemeColors, "shaddow-primary")};
    --shaddow-color-secondary: #{map-get($lightThemeColors, "shaddow-secondary")};

    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
    transition: all 3.5ms ease;
    min-height: 100vh;
    position: relative;

    
    &:has(input[name="toggleToDarkTheme"]:checked){
        --color-primary: #{map-get($darkThemeColors , "primary" )};
        --color-secondary: #{map-get($darkThemeColors ,"secondary")};
        --color-tertiary:#{map-get($darkThemeColors ,"tertiary")};
        --font-color-primary: #{map-get($darkThemeColors, "font-primary")};
        --font-color-secondary: #{map-get($darkThemeColors, "font-secondary")};
        --font-color-tertiary: #{map-get($darkThemeColors, "font-tertiary")};
        --font-color-normal: #{map-get($darkThemeColors, "font-normal")};
        --shaddow-color-primary: #{map-get($darkThemeColors, "shaddow-primary")};
        --shaddow-color-secondary: #{map-get($darkThemeColors, "shaddow-secondary")};

    }

    &::-webkit-scrollbar{
        width: 5px;
    }
    &::-webkit-scrollbar-track{
        background-color: var(--color-primary);
        padding: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--color-secondary);
        border-radius: 20px;
        border:  var(--color-primary);
    }
}

  @media screen and (min-width: 768px) {
    html{
      font-size:62.5%;
    }

    @media screen and (min-width: 1460px) {
        html{
            font-size: 75%;
        }
    }
  }


