.ContactForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2.4rem;
    padding: 1.2rem;
    
    label{
        display: flex;
        flex-direction: column;
        text-align: start;
        
        input, textarea{
            width: 100%;
            padding: 0.8rem;
            border-radius: 0.8rem 0.8rem 0rem 0rem;
            background-color: #C8A48A;
            border-bottom: 0.1rem solid #ECEBEB;
            color: #FFFFFF;
            font-size: 1.8rem;
            font-weight: 600;
        }

        textarea[name="message"]{
            height: 15rem;
            resize: none;
        };

        textarea:invalid~p,
        input:invalid~p {
            display: unset;
        }

        p{  
            display: none;
            font-size: 1.1rem;
            font-weight: 700;
            color: blanchedalmond;
        }

    }

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
        gap: 0.8rem;
        font-size: 1.8rem;
        font-weight: 600;
        border-radius: 0.8rem;
    }
}