.buttonShowMenu,
.buttonHiddenMenu{
    font-size: 3.2rem;
    color: var(--font-color-normal);
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}
.Menu{
    width: 100%;
    padding: 0.8rem 2.8rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 6rem;
    right: 0;
    background-color: var(--color-tertiary);
    border-radius: 0 0 20px 20px;
}

.Menu[show="true"]{
    
    animation: scale-in-tr 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    .navigation{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}

.Menu[show="false"]{
    animation: scale-out-tr 0.5s 0.1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@media screen and (min-width: 768px) {
    .buttonShowMenu{
        display: none;
    }
}