@import "../../../../styles/mixins/inline-animation.mixin.scss";

.toggleTheme{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @include inline-animation(2s, infinite, alternate){
        from{
            transform: rotate(0deg);
        }to {
            transform: rotate(15deg);
        }
    }

    input[name="toggleToDarkTheme"]{
        appearance: none;
        width: 100%;
        height: 100%;
    }

    &:has(input[name="toggleToDarkTheme"]:checked){
        @include inline-animation(25s, infinite, none){
            from{  
                transform: rotate(0deg);
            }to {
                transform: rotate(360deg);
            }
        }
    
        figure{
            svg[aria-label="desativar tema escuro"]{
                display: unset;
            }
            svg[aria-label="ativar tema escuro"]{
                display: none;
            }
        }
        
    }
    
    figure{
        font-size: 2.8rem;
        transition: content 350ms ease;
        color: var(--font-color-normal);
        display: flex;
        align-items: center;
        

        svg[aria-label="desativar tema escuro"]{
            display: none;
        }
        svg[aria-label="ativar tema escuro"]{
            display: unset;
        }

    }
    
}

