@import "/src/styles/animations/animations.scss";

.knowledge-list{
    display: grid;
    width: 100%;
    min-width: 320px;
    gap: 0.8rem;
    grid-template-columns: repeat(auto-fit, 18rem);
    grid-auto-rows: auto;
    justify-content: center;
    height: fit-content;
            
        li{
            animation: appear 1.1s both;
            animation-timeline: view();
            animation-range-end: 10%;
            animation-range-start: -10%;
            
            a{    
                article{
                    display: flex;
                    justify-content: left;
                    gap: 0.8rem;
                    padding: 1.2rem 0.4rem;
                    align-items: center;
                    max-width: 18rem;
                    height: 8rem;
                    color:var(--font-color-primary);
                    border-radius: 5px;
                    box-shadow: 0px 0px 5px 1px var(--shaddow-color-primary);
                    
                    figure {
                        svg{
                            height: 4rem;
                            width: 4rem;
                        }
                    }
                    p {
                        font-weight: 700;
                        font-size: 1.8rem;
                    }

                    &:hover{
                        color: var(--font-color-secondary);
                        box-shadow: 0px 0px 5px 1px var(--shaddow-color-secondary);
                    }
                }
            }
        }

    @media screen and (min-width: 768px){
        padding-bottom: 48px;
        padding: 1.6rem 2.4rem;
        grid-template-columns: repeat(auto-fit, 22rem);

        li{    
            animation-range-end: 30%;
            
            a{
                article{
                    padding: 1.2rem;
                    max-width: 22rem;
                }
            }
        }
    }
}